<div class="h-screen overflow-hidden">
  <section class="page_404">
    <div class="w-full">
      <div class="wrapper">
        <h1 class="text-center ">404</h1>
      </div>

      <div class="msg">
        <h3>Parece Que Estás Perdido</h3>
        <p>¡La Página Que Buscas No Está Disponible!</p>

        <div class="backbtn">
          <!-- Se hace mencion a la función -->
          <a routerLink="/login" class="flex gap-1 justify-center items-center p-4 mt-10 bg-indigo-500 rounded-md text-white text-lg cursor-pointer hover:bg-indigo-600 transition duration-300 ease-in-out">
            <mat-icon>arrow_back</mat-icon>
            <span class="bn6">Ir a login</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>