<mat-toolbar class="shadow-sm flex justify-between items-center">
    <div class="flex gap-1 items-center">
        <img src="../assets/logo_billing_v3.ico" alt="" width="50px">
        <span class="px-3 font-bold text-gray-500">Mixercon</span>
        <button mat-icon-button (click)="collapsed.set(!collapsed())">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
<div>
    <button mat-raised-button color="warn" (click)="logout()">Logout</button>
</div>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav opened mode="side" [style.width]="sidenavWitdh()">
        <app-custom-sidenav [collapsed]="collapsed()"></app-custom-sidenav>
    </mat-sidenav>
    <mat-sidenav-content class="content bg-slate-100" [style.margin-left]="sidenavWitdh()">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>